{% extends 'common/base.html' %}
{% block content %}
    <section id="create-page">
        <div class="wrapper">
            <div class="heading">
                <h1>Delete Account?</h1>
            </div>
            <div class="form">
                <form method="post" action="{% url 'user-delete' request.user.pk %}">
                    {% csrf_token %}
                    <button type="submit">Yes</button>
                    <a href="javascript:history.back()">
                        <button type="button">No</button>
                    </a>
                </form>
            </div>
        </div>
    </section>

    
{% endblock %}