{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <section id="details-page">
        <div class="wrapper">
            <div class="heading">
                <h1>Product Details:</h1>
                <h2>{{ product.name }}</h2>
            </div>
            <div class="info">
                <h4>Description: {{ product.description }}</h4>
                {% if product.photo == 'default-product.jpg' %}
                    <img src="{% static 'media/images/default-product.jpg' %}" alt="Default Image" />
                {% elif product.photo %}
                    <h4><img src="{{ product.photo.url }}" alt="Product Image" /></h4>
                {% endif %}
                <h4>Instructions: {{ product.instructions }}</h4>
                <h4>Ingredients: {{ product.ingredients }}</h4>
                <h4>pH: {{ product.ph }}</h4>
                <h4>Price: {{ product.price }}</h4>
                <a href="#">Add to my requests</a>
                <a href="{% url 'edit-product' pk=product.pk %}">Edit</a>
                <a href="{% url 'delete-product' pk=product.pk %}">Delete</a>
            </div>
        </div>
        </section>
{% endblock %}