{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <section id="create-page">
        <div class="wrapper">
            <div class="heading">
                <h1>Edit Product:</h1>
            </div>
            <div class="form">
                <form method="post">
                    {% csrf_token %}
                    {% if product.photo %}
                        <h4><img src="{{ product.photo.url }}" alt="Product Image" /></h4>
                    {% endif %}
                    {{ form }}
                        <button type="submit">Edit Product</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}