{% extends 'common/base.html' %}
{% load static %}
{% load filters %}
{% block content %}
    <section id="details-page">
        <div class="wrapper">
            <div class="heading">
                <h1>Product Details:</h1>
                <h2>{{ product.name }}</h2>
            </div>
            <div class="info">
                <h4>Description: {{ product.description }}</h4>

                {% if product.photo %}
                    <h4><img src="{{ product.photo.url }}" alt="Product Image" /></h4>
                {% endif %}
                <h4>Instructions: {{ product.instructions }}</h4>
                <h4>Ingredients: {{ product.ingredients }}</h4>
                <h4>pH: {{ product.ph }}</h4>
                <h4>Price: {{ product.price }}</h4>
                <a href="{% url 'create-request' %}">Make a request</a>
                {% if user|has_group:"Basic Staff,Moderators,Superusers" %}
                    <a href="{% url 'edit-product' pk=product.pk %}">Edit</a>
                {% endif %}

                {% if user|has_group:"Basic Staff,Moderators,Superusers" %}
                    <a href="{% url 'delete-product' pk=product.pk %}">Delete</a>
                {% endif %}
            </div>
        </div>
        </section>
{% endblock %}