#create-page{
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: center;
}
#create-page .wrapper{
    width: 50%;
    padding: 5%;
    line-height: 2em;
}
.heading *{
    font-weight: bold;
    text-shadow: rebeccapurple 1px 0 0.5px;
}
#id_photo{
    align-self: center;
    justify-self: center;

}
#file-upload-button{
    color: mediumpurple;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form input, textarea{
    color: mediumpurple;
    font-weight: bold;
}
label{
    font-size: 1.2em;
    color: mediumpurple;
    text-decoration: none;
    align-self: center;
    padding: 1em 0 0.2em 0;
    font-weight: bold;
    text-shadow: rebeccapurple 0.5px 0 0.5px;
}
input, textarea, select{

    border-radius: 1em;
    border: #d197e8;
    padding: 0.5em;
    text-shadow: none;
    color: mediumpurple;
    font-weight: bold;
}
option{
    text-shadow: none;
    color: mediumpurple;
    font-weight: bold;
}

form button{
    width: auto;
    padding: 0.5em 2em;
    font-size: 1.5em;
    align-self: center;
    color: #d197e8;
    font-weight: bold;
    background: #f1e1f7;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0 ,0.1);
    border: none;
    text-shadow: white 1px 0 7px;
    text-wrap: none;
    margin-top: 1em;
}
form button:hover{
    color: #f1e1f7;
    background: mediumpurple;
    text-shadow: none;
}
.form p a{
    color: mediumpurple;
    text-shadow: rebeccapurple 1px 0 0.6px;
}
.helptext ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    line-height: 1em;
    padding: 0;
}
.helptext{
    display: flex;
    justify-self: center;
}
