#details-page{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.wrapper {
    display: flex;
    margin: 3em 3em 5em 3em;
    padding: 3em 2em;
    justify-content: center;
    align-items: center;
    /* background: #74b4e2; */
    flex-direction: column;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0 ,0.2);
    border-radius: 2em;
}
.info{
    align-items: center;
    justify-content: center;
    padding: 1em;
    color: white;
    text-decoration: none;
}
.info *{
    display: flex;
    align-self: center;
    justify-content: center;
}
.heading *{
    display: flex;
    align-self: center;
    justify-content: center;
}