*{
    text-shadow: dimgray 1px 0 7px;
    text-decoration: none;
    color: white;
}

body{
    background: linear-gradient(158deg, rgba(127,202,255,0.7556343193860933) 0%, rgba(168,72,206,0.6045769175734045) 90%) no-repeat center center fixed;
    background-size: cover;
    box-sizing: border-box;
}
a,h1,h2,h3,h4,h5,h6{
    text-decoration: none;
    color: white;
}
#box{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 1% 1% 1% 0;
    align-items: stretch;
}

footer {
    left: 0;
    bottom: 0;
    color: white;
    font-weight: bold;
    margin: 1em;
    padding: 1em;
    font-size: 1.2em;
    /*background-color: #d197e8;*/
    box-shadow: 8px 5px 10px 10px rgba(0, 0, 0 ,0.1);
    position: absolute;
    width: 100%;
}
footer div a{
    text-decoration: none;
    color: #052c65;
}

#home{
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding: 3em;
    /*background-color: #74b4e2;*/
    background-size: cover;
    border-radius: 2em;
    box-shadow: 8px 5px 10px 2px rgba(0, 0, 0 ,0.2);
}
#home h1, h3, a{
    align-self: center;
}