nav{
    /*background-color: #74b4e2;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 3px 5px 10px 10px rgba(0, 0, 0 ,0.5);
    justify-self: center;
}
img{
    justify-content: flex-start;
    block-size: 9em;
    margin: 1em;
}

nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0 0 0 2em;
    align-items: flex-end;
    justify-items: center;
}
nav ul li{
    display: flex;
    margin: 1em;
    list-style: none;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}
nav ul li a{
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
.logout{
    width: auto;
    padding: 0;
    font-size: 1.5em;
    align-self: center;
    color: white;
    font-weight: normal;
    background: none;
    box-shadow: none;
    border: none;
    text-shadow: dimgray 1px 0 7px;
    text-wrap: none;
    margin-top: 0;
    margin-right: 1em;
}
