{% load static %}
{% load  get_account %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cleanzy</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cleanzy{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}">
</head>
<body>
    <div id="box" >
        <header>
            <nav>
                <img id="logo" src="{% static 'media/images/logo.png' %}" alt="logo">
                <div id="main">
                    <a href="{% url 'home' %}" class="display-1 text-decoration-none text-white">Cleanzy</a>
                    <p class="display-2">Cleaning made easy!</p>
                </div>
                <ul >
                    <li class="col"><a href="#">Products</a></li>
                    <li class="col"><a href="{% url 'create-request' %}">Make a request</a></li>
                    {% get_current_account as user_status %}
                    {% if not user_status %}
                        <li class="col"><a href="{% url 'login' %}">Log In</a></li>
                        <li class="col"><a href="{% url 'register' %}">Register</a></li>
                    {% else %}
                        <li class="col"><a href="{% url 'profile-details' request.user.pk %}">Profile</a></li>
                        <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                            <button>Log Out</button>
                        </form>

                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
        <footer>
            <div ><a href="{% url 'home' %}">Cleanzy!</a>Cleaning made easy!</div>
        </footer>
    </div>
</body>
</html>