{% extends 'common/base.html' %}
{% block content %}
    <div id="home"  >
        <h1 class="display-3 text-center" >Welcome to the world of cleaning!</h1>
        <h3><a href="{% url 'catalogue' %}" class=".text-center text-decoration-none text-white">Take a look at our products</a></h3>
    </div>
    <div id ="home">

        <a href="{% url 'create-product' %}" class="text-center text-decoration-none text-white">Create Product!</a>
        <a href="{% url 'delete-product' pk=1 %}" class="text-center text-decoration-none text-white">Delete Product!</a>
        <a href="{% url 'details-product' pk=1%}" class=".text-center text-decoration-none text-white">Details Product!</a>
        <a href="{% url 'edit-product' pk=1%}" class=".text-center text-decoration-none text-white">Edit Product!</a>
        <a href="{% url 'list-request' %}" class=".text-center text-decoration-none text-white">Request List!</a>
        <a href="{% url 'create-request' %}" class=".text-center text-decoration-none text-white">Create Request!</a>
        <a href="{% url 'delete-request' id=1%}" class=".text-center">Delete Request!</a>
        <a href="{% url 'details-request' id=1%}" class=".text-center">Details Request!</a>
        <a href="{% url 'edit-request' id=1%}" class=".text-center">Edit Request!</a>
        <a href="#" class=".text-center">Register!</a>
        <!--<a href="#" class=".text-center">Delete Account!</a>
        <a href="#" class=".text-center">Details Account!</a>
        <a href="#" class=".text-center">Edit Account!</a>
        <a href="#" class=".text-center">Log In!</a>
        <a href="#" class=".text-center">Log out!</a>-->
    </div>
{% endblock %}