{% extends 'common/base.html' %}
{% load  get_account %}
{% load filters %}
{% load static %}
{% block content %}
    <div id="home" >
        <h1 class="display-3 text-center" >Welcome to the world of cleaning!</h1>
        <h3><a href="{% url 'catalogue' %}" class=".text-center text-decoration-none text-white">Take a look at our products</a></h3>
    </div>
    <div id="home">
        <img class="img" src="{% static 'images/home-page3.png' %}" alt="Cleaning Products">
    </div>
    <div id ="home">
        {% get_current_account as user_status %}
        {% if user_status %}
            {% if user.is_staff %}
                <a href="{% url 'create-product' %}" class="text-center text-decoration-none text-white">Create Product!</a>
                <a href="{% url 'delete-product' pk=1 %}" class="text-center text-decoration-none text-white">Delete Product!</a>
                <a href="{% url 'edit-product' pk=1%}" class=".text-center text-decoration-none text-white">Edit Product!</a>
                <a href="{% url 'api-add-warehouse' %}" class=".text-center text-decoration-none text-white">Add Warehouse!</a>

            {% endif %}
            <a href="{% url 'api-warehouses-list'%}" class=".text-center text-decoration-none text-white">List of Warehouses!</a>
            <a href="{% url 'api-warehouse-detail' pk=1 %}" class=".text-center text-decoration-none text-white">Details about our main Warehouse!</a>
            <a href="{% url 'list-request' %}" class=".text-center text-decoration-none text-white">Request List!</a>

            {% if request.user|has_company %}
                <a href="{% url 'edit-company' pk=company.pk %}" class=".text-center text-decoration-none text-white">Edit Company!</a>
                <a href="{% url 'delete-company' pk=company.pk%}" class=".text-center text-decoration-none text-white">Delete Company!</a>
                <a href="{% url 'detail-company' pk=company.pk%}" class=".text-center text-decoration-none text-white">Detail Company!</a>
            {% else %}
                <a href="{% url 'add-company' %}" class=".text-center text-decoration-none text-white">Add company!</a>
            {% endif %}
        {% else %}
            <a href="{% url 'register' %}" class=".text-center text-decoration-none text-white">Register!</a>
            <a href="{% url 'create-request' %}" class=".text-center text-decoration-none text-white">Create Request!</a>
    {% endif %}
    </div>
{% endblock %}