{% extends 'common/base.html' %}
{% block content %}
    <section id="create-page">
        <div class="wrapper">
            <div class="heading">
                <h1>Create Request:</h1>
            </div>
            <div class="form">
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="m-2">Create Request</button>
                </form>
            </div>
        </div>
    </section>

    
{% endblock %}